
@model IEnumerable<WebApplication12.BL.VM.Product_orderVM>

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
    <style>
        label{
            float:left
        }
    </style>
</head>
<body>
    <center>


    <h4 style="margin-top:100px;color:red">Order Details</h4>
    <hr />
    <div id="Grid">
        <h1 style="text-align:center;color:red"> @TempData["x"]</h1>
        <center>
            <form style="width:400px">
                <label style="float:left">Name:</label><br />
             <input  type="text" value="@ViewBag.customerName" class="form-control" disabled/> <br />
             <label>phone:</label><br />
         <input  type="text" value="@ViewBag.customerphone" class="form-control" disabled/>
         <br />
           <label>Mail:</label><br />
          <input  type="text" value="@ViewBag.customermail" class="form-control" disabled/>
         
          </form>
        </center>
       
        <table style="font-size: 12pt;width:500px;margin-top:50px" class="table table-hover table-striped table-bordered text-center">
            <tr>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Product ID</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Product Name</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">quantity</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Unit Price</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:120px;border: 1px solid #ccc">@item.pro_id</td>
                    <td style="width:120px;border: 1px solid #ccc">@item.product.Name</td>
                    <td style="width:120px;border: 1px solid #ccc">@item.quantity</td>
                    <td style="width:120px;border: 1px solid #ccc">@item.product.price </td>
                </tr>
            }
          <tr style="color:red">
              <td>
                Total Price
              </td>
              <td colspan="3"> @ViewBag.total</td>
          </tr>
          <tr style="text-align:center">
              <td colspan="4">
                       With best Wishes From Mohamdia Co
              </td>
         
          </tr>
        </table>
    </div>
    <br />
        </center>
        <center>
            <a class="btn btn-pill btn-primary" asp-controller="Home" asp-action="Index">Back</a>
        </center>
      

       
  
</body>
</html>