@model IEnumerable<ApplicationUser>
@inject RoleManager<IdentityRole> Rolemanager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}



<div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">All Products</h4>
                                <p class="category">List of all stock</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th>Details</th>
                                      
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                             
                                        @foreach (var item in Model)
                                       {
                                           <tr>
                                               <td>@item.Id</td>
                                               <td>@item.UserName</td>
                                               <td>@item.address</td>
                                              
                                            @foreach (var role in ViewBag.roles)
                                            {
                                                var user = await UserManager.FindByIdAsync(item.Id);
                                                if( await UserManager.IsInRoleAsync(user, role.Name))
                                                {
                                                    <td>@role</td>
                                                }
                                            }
                                            
                                            @if (item.isActive)
                                            {      <td>
                                                  <span class="label label-success">Active</span>
                                                  </td>

                                            }   
                                            else
                                                {<td>
                                                      <span class="label label-warning">Blocked</span>
                                                      </td>
                                                }

                                            
                                            
                                                 @if (item.isActive){
                                                <td>


                                                <a class="btn btn-sm btn-success ti-close" asp-area="Admin" asp-controller="Users" asp-action="StateChange" asp-route-id="@item.Id" title="Block User"></a>
                                            </td>
                                                 }
                                         else
                                            {
                                                <td>
                                       <a class="btn btn-sm btn-success ti-check" asp-area="Admin" asp-controller="Users" asp-action="StateChange" asp-route-id="@item.Id" title="Activate User"></a>

                                                </td>

                                            }
                                            <td>
                                         <a class="btn btn-sm btn-success ti-view-list-alt" asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-id="@item.Id" title=" User Details"></a>

                                            </td>

                                           </tr>
                                           
                                       }
                                       
                                       
                                        
                                   
                                  
                                       
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

